## Подготовка данных

### Чтение данных с сайта ФБР

In [104]:
import pandas as pd
df_crimes = pd.read_csv('../data/us_crimes_by_city.csv', sep=';')
df_guns = pd.read_csv('../data/us_gun_owners_by_state.csv', sep=';').drop(['Total_guns'], axis=1)

### Фильтруем данные и составляем выборку

In [105]:
df_crimes = df_crimes[['State', 'City', 'Population', 'Violent_crime']]
df_crimes['City'] = df_crimes['City'].str.replace(r'\d', '', regex=True)
df_crimes['State'] = df_crimes['State'].str.replace(r'\d', '', regex=True)
df_crimes['Crime_rate'] = (df_crimes['Violent_crime'] / df_crimes['Population'])
df = pd.merge(df_crimes, df_guns)
df = df.drop(['State', 'Population', 'Violent_crime'], axis=1)
sample = df.sample(100, random_state=9).reset_index(drop=True).dropna()
sample['Crime_rate']    = (sample['Crime_rate'] * 100_000).round().astype('int')
sample['Gun_ownership'] = (sample['Gun_ownership'] * 100_000).round().astype('int')
sample = sample[sample['Crime_rate'] < 650].reset_index(drop=True)
sample

            City  Crime_rate  Gun_ownership
0        Buckeye         137          46300
1         Nevada         255          48800
2         Dilley         223          45700
3   GrossePointe         117          40200
4       NewHaven         297          44800
..           ...         ...            ...
89    LakeZurich          40          27800
90  Merrillville         144          44800
91          Buhl         360          60100
92  PalosHeights          40          27800
93      Martinez         215          28300

[94 rows x 3 columns]

### Сохраняем выборку в CSV файл

In [106]:
sample.to_csv('sample_100.csv', sep=';', index=False)