In [56]:
import pandas as pd

In [57]:
df_crimes = pd.read_csv('../data/us_crimes_by_city.csv', sep=';')
df_guns = pd.read_csv('../data/us_gun_owners_by_state.csv', sep=';').drop(['Total_guns'], axis=1)

In [60]:
df_crimes = df_crimes[['State', 'City', 'Population', 'Violent_crime']]
df_crimes['City'] = df_crimes['City'].str.replace('\d', '')
df_crimes['State'] = df_crimes['State'].str.replace('\d', '')
df_crimes['Crime_rate'] = df_crimes['Violent_crime'] / df_crimes['Population']
df = pd.merge(df_crimes, df_guns)
df = df.drop(['State', 'Population', 'Violent_crime'], axis=1)
sample = df.sample(100, random_state=2021)
sample

C:\Users\raguc\AppData\Local\Temp/ipykernel_3260/2571525903.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_crimes['City'] = df_crimes['City'].str.replace('\d', '')
C:\Users\raguc\AppData\Local\Temp/ipykernel_3260/2571525903.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_crimes['State'] = df_crimes['State'].str.replace('\d', '')

             City  Crime_rate  Gun_ownership
2467  Franklinton    0.011699          0.531
356        Colusa    0.001016          0.283
5101     Fairview    0.001967          0.516
5190        Niota    0.002751          0.516
1457      Cahokia    0.005987          0.278
...           ...         ...            ...
3542    LakesArea    0.001119          0.428
1390      Shelley    0.000226          0.601
3102  EastLansing    0.001837          0.402
3977       Helena    0.005792          0.663
6189     Stanwood    0.001501          0.421

[100 rows x 3 columns]